@model IEnumerable<UCP1_PAW_017_A.Models.Produk>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Produk")
            </th>
            <th>
                @Html.DisplayName("Harga Produk")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaProduk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaProduk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduk"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdProduk"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduk"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
